.main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-left: 100px;
}

img {
  height: 500px;
}

h1 {
  color: orangered;
  font-size: 40px;
}


p {
  font-size: 25px;
}

h4 {
  color: orangered;
}
